.BookSection {
  /* border: red 1px solid; */
  width: 900px;
  min-height: 450px;
  margin-bottom: 100px;
  display: flex;
}

.BookImage {
  height: 100%;
  margin-right: 30px;
}

.RightSection {
  height: 100%;
  display: grid;
  align-content: stretch;
}

.BookInfoLabel {
  margin: 0;
  color: gray;
}

.BookInfoText {
  margin: 0;
}
